<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <title>Find a Cocktail</title>
</head>

<body class="showpage">
    <div class="sidenav">
        <% if (user) { %>
            <a href="/logout"><img class="loginpicshowpage" style="background-color:white;border-radius:50%"
                    src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log out</a>
            <a href="/favorites">Favorites</a>
            <% } else { %>
                <a href="/auth/google"><img class="loginpicshowpage"
                        src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log
                    In</a>
                <% } %>
                    <a href="/">Home</a>
    </div>
    <form class="marginleft" action="/comments/<%= doc._id %>?_method=PUT" method="POST">
        <textarea class="textarea" name="text"><%=doc.text%></textarea>
        <button type="submit">Edit</button>
    </form>
</body>

</html>