<!DOCTYPE html>
<html>

<head>
  <title>Party Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>FIND COCKTAILS</h1>
  <form action="TO BE DETERMINED!!" method="GET">
    <input type="search" name="TO BE DETERMINED!!" placeholder="Cocktail Name, Spirit, Ingredient, or Glass Type">
  </form>
  <a href="/cocktails">Browse All Cocktails</a>
</body>

</html>