<!DOCTYPE html>
<html>

<head>
  <title>Find Cocktails</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display:ital@0;1&family=Prata&display=swap"
    rel="stylesheet">
</head>
<nav>
  <% if (user) { %>
    <a href="/logout"><img class="loginpic" style="background-color:white;border-radius:50%"
        src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log out</a>
    <% } else { %>

      <a class="loginlink" href="/auth/google"><img class="loginpic"
          src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log
        in</a>
      <% } %>
</nav>

<body class="homepage">
  <p class="homepageheading">Find A Cocktail</p>
  <form style="text-align:center" action=" /cocktails/search" method="GET">
    <input class="searchbar" type="search" name="search" placeholder="Select a criteria below to start your search"
      required>
    <input id="searchbutton" type="submit" value="Search">
    <br>
    <div class="homepageundersearch">
      <label style="color:white;font-size:14pt;font-family: 'Playfair Display', serif">Search
        critera:</label>
      <select id="selectbox" name="criteria" required>
        <option value="">-</option>
        <option value="name">Cocktail Name</option>
        <option value="ingredient">Ingredient</option>
      </select>

  </form>
  <a class="browselink" href="/cocktails">Browse By Letter</a>
  </div>
  <div id="credits">
    <p id="creditslink">Credits</p>
    <div id="creditsdetails">
      <p>Cocktail Finder is made possible by The CocktailDB, an open, crowd-sourced database of drinks and cocktails
        from around the world.</p>
      <p>Please visit them <span><a href="https://www.thecocktaildb.com/">HERE</a></span>.</p>
    </div>
  </div>
  <script>
    let counter = 0;
    const creditsLink = document.getElementById('creditslink');
    const creditsContainer = document.getElementById('credits');
    const creditsDetails = document.getElementById('creditsdetails')
    creditsLink.addEventListener('click', function () {
      if (counter == 0) {
        creditsContainer.style.height = '200px';
        creditsContainer.style.width = '400px';
        creditsDetails.style.display = 'block';
        counter = 1;
      } else {
        creditsContainer.style.height = '50px';
        creditsContainer.style.width = '150px';
        creditsDetails.style.display = 'none';
        counter = 0;
      };
    });
  </script>
</body>

</html>