<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Showing all cocktails that include <%= searchData %>
    </h1>
    <% if (cocktailData.drinks !==null) { %>
        <% cocktailData.drinks.forEach(function (ele, idx) { %>
            <img src="<%= cocktailData.drinks[idx].strDrinkThumb %>">
            <section>
                <h3>Name: <%= cocktailData.drinks[idx].strDrink %>
                </h3>
            </section>
            <% }); %>
                <% } else { %>
                    <h2>We can't find anything by that name, old chap.</h2>
                    <% }; %>
                        < </body>

</html>